body {
    margin: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overscroll-behavior-y: none;
}

#app {
    height: 100dvh;
    overflow: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

html, body {
    overflow: hidden;
}