body {
    margin: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#app {
    height: 100dvh;
    overflow: hidden;
}

html, body {
    /* 锁定 body，不让它动 */
    overflow: hidden;
}