body {
  margin: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overscroll-behavior-y: none;
}

#app {
  overflow: hidden;
}

html,
body {
  overflow: hidden;
}
